<div class="form" id="client-form">

    <form (ngSubmit)="onSubmit()" id="myForm">
        <h1>Form</h1>
        <div class="form-group">
            <label for="companyName">Company Name</label>
            <input type="text" name="name" [(ngModel)]="client.company" class="form-control" id="companyName" placeholder="Enter company name" required>
        </div>
        <div class="form-group">
            <label for="NIP">NIP</label>
            <input type="text" name="nip" [(ngModel)]="client.nip" class="form-control" id="nip" placeholder="Enter NIP" required>
        </div>
        <div class="form-group">
            <label for="city">City</label>
            <input type="text" name="city" [(ngModel)]="client.city" class="form-control" id="city" placeholder="Enter city" required>
        </div>
        <div class="form-group">
            <label for="street">Street</label>
            <input type="text" name="street" [(ngModel)]="client.street" class="form-control" id="street" placeholder="Enter street" required>
        </div>
        <div class="form-group">
            <label for="comments">Comments</label>
            <textarea class="form-control" id="comments" placeholder="Enter comments" name="comments"></textarea>
        </div>
        <div class="form-group">
            <label for="industry">Industry</label>
            <select multiple class="form-control" id="industry" name="industry">
                <option>IT</option>
                <option>Energy</option>
                <option>Engineering</option>
            </select>
        </div>
        <div class="form-group">
            <label for="active">Active</label>
            <input type="checkbox" class="form-check-label" id="active" name="active">
        </div>
        <button onclick="fillData(event)" type="button" name="fill-btn" id="fill-btn" class="btn btn-primary mb-2">Fill with my data</button>
        <button type="submit" id="submit-btn" name="submit" class="btn btn-primary mb-2">Send</button>
    </form>

</div>
